@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Roboto&display=swap");

.containerRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;


  h2 {
    font-family: Roboto;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 28px;
    color: #ffe031;
    text-align: center;
    margin-top: 2rem;
  }
  .section_form {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    height: auto;
    padding: 2rem 4rem 2rem 4rem;
    border-radius: 50px;
    background: #fcfbfb;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    form {
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 10px;
      padding: 2rem 5rem 2rem 5rem;

      input {
        width: 100%;
        height: 30px;
        border: none;
        outline: none;
        font-size: 20px;
        background-color: transparent;
      }

      button {
        background: #ffe031;
        border-radius: 10px;
        height: 40px;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
  }
  .sesionRedes {
    margin-top: 0.5rem;
    .sesionRedes__icons img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
  }
}

@media (max-width: 875px) {
  .containerRegister {
    max-width: 100%;
    gap: 3rem;
    h2 {
      font-size: 2rem;
      margin-top: 3rem;
    }
    .section_form {
      box-shadow: none;
      width: 100%;
      height: 100vh;
      border-radius: 0%;
      padding: 2rem;
      gap: 3rem;
      background-color: #ffffff;
      form {
        padding: 0.5rem;
        button{
            margin-top: 1rem;
        }
      }
      
    }
  }
}
