@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Roboto&display=swap');

.containerRegister {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h2 {
        font-family: Roboto;
        font-size: 30px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        color: #414141;
        margin-top: 20px;
        margin-left: 10px;
        text-align: center;

    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        width: 30%;
        height: 85%;
        margin: 0 auto;
        font-size: 16px;
        box-shadow: 8px 10px 10px 1px rgba(0, 0, 0, 0.5);
        border: 2px solid black;
        border-radius: 12px;


        input {
            width: 100%;
            height: 30px;
            border: none;
            outline: none;
            font-size: 20px;
            background-color: transparent;
        }

        button {
            background: #FFE031;
            border-radius: 10px;
            height: 40px;
            border-radius: 10px;
            border: none;
            margin-top: 190px;
            font-size: 20px;
            font-family: Roboto;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: center;

        }
    }
}

@media (max-width:875px) {
    .containerRegister {
        font-family: 'Roboto';
        max-width: 100%;
        max-height: 100vh;
        display: flex;
        pad: 10px;
        flex-direction: column;
        padding: 10px;

        h1 {
            margin-top: 20px;
            text-align: center;

        }

        h2 {
            font-size: 30px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0em;
            color: #414141;
            margin-top: 20px;
            margin-left: 10px;

        }

        form {
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 90%;
            height: 65%;
            font-size: 12px;
            border: none;
            box-shadow: none;
            border-radius: none;


            label {
                color: #A7A7A7;

                input {
                    width: 100%;
                    height: 30px;
                    border: none;
                    outline: none;
                    color: #414141;
                    font-size: 16px;
                    background-color: transparent;
                }
            }

            button {
                background: #FFE031;
                border-radius: 10px;
                height: 45px;
                border-radius: 10px;
                border: none;
                font-size: 20px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: center;
            }

            .buttonRegister {
                padding: 20px;
            }
        }

        .linkLogin {
            color: black;
            text-decoration: none;
            text-align: center;
            margin-top: 20px;
            cursor: pointer;
            font-size: 20px;
        }
    }

    .sesionRedes {
        width: 200px;
        height: 100px;
        margin-left: 150px;
        text-align: center;

        .linkRegister {
            color: black;
            text-decoration: none;
        }
    }

}