@media (max-width: 875px) {
  footer {
    display: flex;
    justify-content: space-around;
    height: 4rem;
    padding: 0.5rem;

    button {
      border: none;
      background-color: transparent;
      padding: 0.5rem;
      img {
        width: 30px;
        height: 30px;
      }
    }
    button:hover{
        cursor: pointer;
        background-color: #ffe031;
    }
  }

}

.index {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe031;
  &__link {
    text-align: center;
    img {
      width: 80%;
    }
  }
}
