.perfil {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
    img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
    }
  }
  span {
    padding: 2rem;
    .arrow {
      width: 2rem;
      height: 2rem;
    }
  }
}

.btnsPerfil {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  button {
    padding: 0.6rem;
    border: none;
    height: 4.2rem;
    text-align: left;
    border-radius: 0.9rem;
    background-color: #f2f2f2;
  }
  button:hover {
    cursor: pointer;
    background-color: #ffe031;
  }
}

.delete {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 1rem;
  flex-wrap: wrap;
  .card {
    width: 13rem;
    height: 19rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.3rem;
    img {
      width: 12rem;
      height: 6rem;
      object-fit: cover;
    }

    .info {
      display: flex;
      height: 10rem;
      flex-direction: column;
    }
  }
}
@media (max-width: 875px) {
  .perfil {  
    span {
      width: 2rem;
    height: 2rem;
      .arrow{
       width: 1rem;
       height: 1rem;
      }
    }
    &__info {
      padding-top: 1rem;
      height: 8rem;
      img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
      }
    }
  }
  .btnsPerfil {
    button {
      padding: 0.3rem 0.3rem 0.3rem 1rem;
      border: none;
      text-align: left;
      border-radius: 0.9rem;
      background-color: #f2f2f2;
    }
  }
  .delete {
    padding: 0.8rem;
    .card {
      width: 100%;
      height: 19rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.3rem;
      img {
        width: 100%;
        height: 9rem;
      }
    }
  }
}
