.perfil {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
    }
  }
  span {
    padding: 2rem;
    .arrow {
      width: 2rem;
      height: 2rem;
    }
  }
}

.btnsPerfil {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  button {
    padding: 0.6rem;
    border: none;
    height: 4.2rem;
    text-align: left;
    border-radius: 0.9rem;
    background-color: #f2f2f2;
  }
  button:hover {
    cursor: pointer;
    background-color: #ffe031;
  }
}

.delete {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap;

  .card {
    width: 200px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    img {
      width: 200px;
      height: 90px;
      object-fit: cover;
    }

    .infoRestaurant {
      display: flex;
      flex-direction: column;

      button {
        height: 50px;
        border: none;
        background-color: rgb(240, 125, 125);
      }
    }
  }
}
@media (max-width: 875px) {
  .perfil {

    span {
      .arrow {
       display: none;
      }
    }
    &__info {
      padding-top: 1rem;
    }
  }
  .btnsPerfil {
    height: 100vh;
    button {
      padding: 0.3rem 0.3rem 0.3rem 1rem;
      border: none;
      text-align: left;
      border-radius: 0.9rem;
      background-color: #f2f2f2;
    }
  }
}
